{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "all",
	"printWidth": 80,
	"editorconfig": true,
	"pluginSearchDirs": ["."],
	"overrides": [
		{ "files": "*.svelte", "options": { "parser": "svelte" } },
		{
			"files": ["*.yaml", "*.yml"],
			"options": {
				"useTabs": false,
				"tabWidth": 2,
				"parser": "yaml"
			}
		},
		{
			"files": "*.md",
			"options": {
				"useTabs": false,
				"tabWidth": 2,
				"proseWrap": "always",
				"parser": "markdown"
			}
		}
	]
}
